.header {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  height: 116px;
  background-color: #01A0DA;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
  }

  &__logo {
    width: 66px;
    height: 66px;

    @media screen and (max-width: 768px) {
      width: 50px;
      height: 50px;
    }
  }

  &__logo-icon {
    width: 100%;
    height: 100%;
  }

  &__logo-title {
    margin-left: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #2F2E41;
  }

  &__navigation {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    height: 100%;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 39px;
    height: 100%;
  }

  &__main-link {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    border-style: none;
    outline: none;
    text-decoration: none;
    color: #2F2E41;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      top: 18px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #2F2E41;
      transform: scaleX(0);
      transition: 0.3s;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
  }

  &__control-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 16px;
    width: 154px;
    border-radius: 15px;
    border-style: none;
    outline: none;
    text-decoration: none;
    color: #2F2E41;
    background-color: #ffffff;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
      background: #efefef;
    }
  }

  &__mobile-btn {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    background-color: #72cef5;

    @media screen and (max-width: 992px) {
      display: flex;
    }
  }

  &__open-btn {
    width: 70%;
    height: 70%;
  }

  &__close-btn {
    width: 40%;
    height: 40%;
  }

  &__mobile-navigation {
    position: fixed;
    z-index: 1;
    top: 116px;
    right: 0;
    transform: translateX(100%);
    display: none;
    width: 100%;
    height: calc(100vh - 116px);
    background-color: #ECECEC;
    transition: 0.5s;

    &_open {
      transform: translateX(0);
    }

    @media screen and (max-width: 992px) {
      display: flex;
      justify-content: center;
    }
  }

  &__mobile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    max-width: 900px;
  }

  &__image-container {
    width: 25px;
    height: 25px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

