.ordersFilter {
  display: flex;
  min-height: 84px;
  padding: 16px 0;
  background-color: #FFB7B7;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;

    @media screen and (max-width: 1170px) {
      justify-content: space-evenly;
    }
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    @media screen and (max-width: 1170px) {
      justify-content: space-evenly;
    }
  }

  &__searchInput {
    display: flex;
    align-items: center;
    padding: 0 21px;
    max-width: 350px;
    width: 100%;
    height: 42px;
    border-radius: 15px;
    background-color: #ffffff;

    input {
      padding-left: 15px;
      height: 100%;
      flex: 1;
      outline: none;
      border-style: none;
      border-radius: 15px;

      @media screen and (max-width: 320px) {
        padding-left: 5px;
      }
    }
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__prices-title {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    color: #2F2E41;
  }

  &__price {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 129px;
    width: 100%;
    height: 52px;
    border-style: none;
    border-radius: 15px;
    outline: none;
  }

  &__filter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 18px;
    max-width: 350px;
    width: 100%;
    border-radius: 15px;
    background-color: #ffffff;

    svg {
      cursor: pointer;
      width: 15px;
      height: 21px;
    }
  }

  &__filterServices {
    z-index: 2;
    position: absolute;
    top: 37px;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 100%;
    padding: 14px 18px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    background-color: #ffffff;
  }

  &__close {
    transform: rotate(-180deg);
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__searchBtn {
    padding: 15px 30px;
    border-radius: 15px;
    border-style: none;
    background: #ffffff;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-color: #e5e5e5;
    }
  }
}

